*{
    margin: 0px;
}

a{
    text-decoration: none;
}

@font-face{
    font-family: LaObrige;
    src: url(Media/La\ Obrige.otf);
}

@font-face{
    font-family: Borcha;
    src: url(Media/BORCHA\ regular.otf);
}

@font-face{
    font-family: PorshaRichela;
    src: url(Media/PorshaRichela.ttf);
}

@font-face{
    font-family: RomauntGaolines;
    src: url(Media/RomauntGaolines.ttf);
}

body{
    overflow-x: hidden;
    background-color: #ABD2FA;
}

form{
    bottom: 50%;
}

header{
    margin: 0px;
    padding: 15px;
    border: 1px solid #7692FF;
    background-color: #3D518C;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    height: 20px;
    top: 0px;
    font-family: Borcha;
    font-weight: bold;
    z-index: 2;
}

nav{
    position: relative;
    display: flex;
    justify-content: space-around;
    color: #97acff;
}

nav a{
    margin: 3px;
    padding: 3px;
    color: #97acff;
}

footer{
    margin: 0px;
    padding: 15px;
    border: 1px solid #7692FF;
    position: fixed;
    background-color: #3D518C;
    width: 100vw;
    height: 20px;
    bottom: 0px;
    color: #97acff;
    text-align: center;
    font-family: Borcha;
    font-weight: bold;
    z-index: 1;
}

section{
    margin: 10px;
    padding: 10px;
    font-family: RomauntGaolines;
    color: #091540;
    background-color: rgba(61, 81, 140, 0.5);
    border-radius: 10px;
    font-size: 45px;
    text-align: center;
}

article{
    margin: 10px;
    padding: 10px;
    text-align: justify;
    font-family: Borcha;
    font-weight: bold;
    color: #091540;
    background-color: rgba(61, 81, 140, 0.5);
    border-radius: 10px;
    font-size: 30px;
}

h1{
    font-family: LaObrige;
    text-align: center;
    color: #071958;
}

@media screen and (max-width: 640px){
    .button{
        background-color: #768be0;
        color: #ABD2FA;
        padding: 1vw;
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }

    .items{
        display: none;
        position: absolute;
        background-color: #a6b5f4;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    }

    .items a{
        color: #3f69d3;
        padding: 12px 16 px;
        text-decoration: none;
        display: block;
    }
    
    .items a:hover{
        background-color: #5b6db8;
        color: #ABD2FA;
    }
    
    .dropdown:hover .items{
        display: block;
    }

    .dropdown:hover .button{
        background-color: #97acff;
    }
}